<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>

    <!-- Creo 6 botones para agregarle los plugins de Cordova -->
    <button class="button" ng-click="Vibrar()">VIBRAR</button>

    <button class="button" ng-click="DetenerVibrar()">DETENER VIBRAR</button>

    <button class="button">
	  Default
	</button>

    <button class="button">
	  Default
	</button>

    <button class="button">
	  Default
	</button>

    <button class="button">
	  Default
	</button>	

  </ion-content>
</ion-view>
